<h1>Projects</h1>
<div class="dash style-5 pr-3">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="border-bottom pb-2">
            <div class="row">
              <div class="col-12">
                <div class="mb-2"><b>Project Name: </b>New Project for a special, very special boy</div>
                <div class="mb-2"><b>Topic: </b>New Project topic for a special, very special boy</div>
                <div><b>Status: </b>New Project status for a special, very special boy <span class="badge badge-success">Success</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 text-center">
          <button class="mt-lg-0 mt-2 float-lg-right ml-auto btn btn-outline-primary rounded-pill raise" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              View
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="border-bottom pb-2">
            <div class="row">
              <div class="col-12">
                <div class="mb-2"><b>Project Name: </b>New Project for a special, very special boy</div>
                <div class="mb-2"><b>Topic: </b>New Project topic for a special, very special boy</div>
                <div><b>Status: </b>New Project status for a special, very special boy <span class="badge badge-success">Success</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 text-center">
          <button class="mt-lg-0 mt-2 float-lg-right ml-auto btn btn-outline-primary rounded-pill raise" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              View
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="border-bottom pb-2">
            <div class="row">
              <div class="col-12">
                <div class="mb-2"><b>Project Name: </b>New Project for a special, very special boy</div>
                <div class="mb-2"><b>Topic: </b>New Project topic for a special, very special boy</div>
                <div><b>Status: </b>New Project status for a special, very special boy <span class="badge badge-success">Success</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 text-center">
          <button class="mt-lg-0 mt-2 float-lg-right ml-auto btn btn-outline-primary rounded-pill raise" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              View
          </button>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="border-bottom pb-2">
            <div class="row">
              <div class="col-12">
                <div class="mb-2"><b>Project Name: </b>New Project for a special, very special boy</div>
                <div class="mb-2"><b>Topic: </b>New Project topic for a special, very special boy</div>
                <div><b>Status: </b>New Project status for a special, very special boy <span class="badge badge-success">Success</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 text-center">
          <button class="mt-lg-0 mt-2 float-lg-right ml-auto btn btn-outline-primary rounded-pill raise" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              View
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
