.container-fluid {
    color: white;
}

h2 {
    color: black !important;
}

.align-center {
    text-align: center;
}

#dashboard-content {
    width: 100%;
}

.wrapper-outer {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.main,
.sidebar {
  padding: 15px;
}

.card-header {
    border-bottom: rgb(9, 38, 71) !important;
}

.card {
    background: rgba(6, 57, 116, 1) !important; 
    /* border-color: rgb(3, 52, 102) !important; */
    border: none;
}

.card-body {
    background: rgb(15, 82, 129) !important;
}

.same-row-card-same-height {
    display:flex;
    flex-direction:row;
}

.text-gray {
    color : rgb(161, 167, 178);
}

.border {
    border-color: rgb(104, 175, 255) !important;
    border-width: 2px !important;
}

.tweet-list {
    max-height: 75vh;
    height: auto;
    overflow-y:auto;
}

@media only screen and (max-width : 765px) {
    .border-right {
        border: none !important;
    }
}

.arrow-font {
    font-size: 20px;
}

.btn {
    display: inline-flex;
    align-items: center; 
}