<div class="container-fluid mx-auto m-0 project-component" xmlns="http://www.w3.org/2000/svg">
  <div class="wrapper-outer">
    <div class="main">
      <div class="row">
        <div class="" id="dashboard-content">
          <div class="row">
            <div class="col-12 mx-auto rounded-lg main-dash px-5">
              <div class="container-fluid m-0 wrapper rounded">
                <div class="row rounded mt-2">
                  <div class="col-12 ml-0 pl-0">
                    <h2 class=" display-5 text-black">MANAGE USERS</h2>
                  </div>
                  <div class="container-fluid mx-auto m-0 ">
                    <div class="wrapper-outer">
                      <div class="main">
                        <div class="row">
                          <div class="" id="dashboard-content">
                            <div class="row">
                              <div class="col-12 mt-4 px-0">
                                <div class="row">
                                  <div class="md-form col-10">
                                    <input type="text" id="form1" class="form-control">
                                    <!-- <button class="btn btn-outline-primary float-right">Hello</button> -->
                                    <label for="form1" id="form-label">Search</label>
                                  </div>
                                  <br>
                                  <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="card-img-block row">
                                          <img src="http://identicon-1132.appspot.com/graemecoetzee123?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-body pt-0">
                                      <h5 class="card-title text-light">Graeme Coetzee</h5>
                                      <p class="card-text">15 Projects</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>
                                  <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="card-img-block row">
                                          <img src="http://identicon-1132.appspot.com/ethan?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-body pt-0">
                                      <h5 class="card-title text-light">Ethan Lindeman</h5>
                                      <p class="card-text">15 Projects</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>
                                  <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="card-img-block row">
                                          <img src="http://identicon-1132.appspot.com/chrissy?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-body pt-0">
                                      <h5 class="card-title text-light">Tiaan Nel</h5>
                                      <p class="card-text">15 Projects</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div> 
                                  <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="card-img-block row">
                                          <img src="http://identicon-1132.appspot.com/kevin?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-body pt-0">
                                      <h5 class="card-title text-light">kevin Coetzee</h5>
                                      <p class="card-text">15 Projects</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>   
                                  <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                    <div class="row">
                                      <div class="col-12">
                                        <div class="card-img-block row">
                                          <img src="http://identicon-1132.appspot.com/herbs?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-body pt-0">
                                      <h5 class="card-title text-light">Herbert Magaya</h5>
                                      <p class="card-text">15 Projects</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div> 
                                  <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                      <div class="row">
                                        <div class="col-12">
                                          <div class="card-img-block row">
                                            <img src="http://identicon-1132.appspot.com/gra7emecoetzee123?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card-body pt-0">
                                        <h5 class="card-title text-light">Graeme Coetzee</h5>
                                        <p class="card-text">15 Projects</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                    <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                      <div class="row">
                                        <div class="col-12">
                                          <div class="card-img-block row">
                                            <img src="http://identicon-1132.appspot.com/eth8an?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card-body pt-0">
                                        <h5 class="card-title text-light">Ethan Lindeman</h5>
                                        <p class="card-text">15 Projects</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>
                                    <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                      <div class="row">
                                        <div class="col-12">
                                          <div class="card-img-block row">
                                            <img src="http://identicon-1132.appspot.com/chr7issy?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card-body pt-0">
                                        <h5 class="card-title text-light">Tiaan Nel</h5>
                                        <p class="card-text">15 Projects</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div> 
                                    <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                      <div class="row">
                                        <div class="col-12">
                                          <div class="card-img-block row">
                                            <img src="http://identicon-1132.appspot.com/ke6vin?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card-body pt-0">
                                        <h5 class="card-title text-light">kevin Coetzee</h5>
                                        <p class="card-text">15 Projects</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div>   
                                    <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                      <div class="row">
                                        <div class="col-12">
                                          <div class="card-img-block row">
                                            <img src="http://identicon-1132.appspot.com/her5bs?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card-body pt-0">
                                        <h5 class="card-title text-light">Herbert Magaya</h5>
                                        <p class="card-text">15 Projects</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                      </div>
                                    </div> 
                                    <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                        <div class="row">
                                          <div class="col-12">
                                            <div class="card-img-block row">
                                              <img src="http://identicon-1132.appspot.com/gra5emecoetzee123?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card-body pt-0">
                                          <h5 class="card-title text-light">Graeme Coetzee</h5>
                                          <p class="card-text">15 Projects</p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                      </div>
                                      <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                        <div class="row">
                                          <div class="col-12">
                                            <div class="card-img-block row">
                                              <img src="http://identicon-1132.appspot.com/eth4n?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card-body pt-0">
                                          <h5 class="card-title text-light">Ethan Lindeman</h5>
                                          <p class="card-text">15 Projects</p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                      </div>
                                      <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                        <div class="row">
                                          <div class="col-12">
                                            <div class="card-img-block row">
                                              <img src="http://identicon-1132.appspot.com/chri4ssy?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card-body pt-0">
                                          <h5 class="card-title text-light">Tiaan Nel</h5>
                                          <p class="card-text">15 Projects</p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                      </div> 
                                      <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                        <div class="row">
                                          <div class="col-12">
                                            <div class="card-img-block row">
                                              <img src="http://identicon-1132.appspot.com/kev4in?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card-body pt-0">
                                          <h5 class="card-title text-light">kevin Coetzee</h5>
                                          <p class="card-text">15 Projects</p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                      </div>   
                                      <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                        <div class="row">
                                          <div class="col-12">
                                            <div class="card-img-block row">
                                              <img src="http://identicon-1132.appspot.com/her3bs?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card-body pt-0">
                                          <h5 class="card-title text-light">Herbert Magaya</h5>
                                          <p class="card-text">15 Projects</p>
                                          <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                      </div> 
                                      <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                          <div class="row">
                                            <div class="col-12">
                                              <div class="card-img-block row">
                                                <img src="http://identicon-1132.appspot.com/gra3emecoetzee123?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card-body pt-0">
                                            <h5 class="card-title text-light">Graeme Coetzee</h5>
                                            <p class="card-text">15 Projects</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                          </div>
                                        </div>
                                        <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                          <div class="row">
                                            <div class="col-12">
                                              <div class="card-img-block row">
                                                <img src="http://identicon-1132.appspot.com/eth3an?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card-body pt-0">
                                            <h5 class="card-title text-light">Ethan Lindeman</h5>
                                            <p class="card-text">15 Projects</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                          </div>
                                        </div>
                                        <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                          <div class="row">
                                            <div class="col-12">
                                              <div class="card-img-block row">
                                                <img src="http://identicon-1132.appspot.com/chri2ssy?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card-body pt-0">
                                            <h5 class="card-title text-light">Tiaan Nel</h5>
                                            <p class="card-text">15 Projects</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                          </div>
                                        </div> 
                                        <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                          <div class="row">
                                            <div class="col-12">
                                              <div class="card-img-block row">
                                                <img src="http://identicon-1132.appspot.com/ke2vin?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card-body pt-0">
                                            <h5 class="card-title text-light">kevin Coetzee</h5>
                                            <p class="card-text">15 Projects</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                          </div>
                                        </div>   
                                        <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                          <div class="row">
                                            <div class="col-12">
                                              <div class="card-img-block row">
                                                <img src="http://identicon-1132.appspot.com/he2rbs?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card-body pt-0">
                                            <h5 class="card-title text-light">Herbert Magaya</h5>
                                            <p class="card-text">15 Projects</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                          </div>
                                        </div> 
                                        <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                            <div class="row">
                                              <div class="col-12">
                                                <div class="card-img-block row">
                                                  <img src="http://identicon-1132.appspot.com/gr2aemecoetzee123?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="card-body pt-0">
                                              <h5 class="card-title text-light">Graeme Coetzee</h5>
                                              <p class="card-text">15 Projects</p>
                                              <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                          </div>
                                          <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                            <div class="row">
                                              <div class="col-12">
                                                <div class="card-img-block row">
                                                  <img src="http://identicon-1132.appspot.com/etha1n?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="card-body pt-0">
                                              <h5 class="card-title text-light">Ethan Lindeman</h5>
                                              <p class="card-text">15 Projects</p>
                                              <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                          </div>
                                          <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                            <div class="row">
                                              <div class="col-12">
                                                <div class="card-img-block row">
                                                  <img src="http://identicon-1132.appspot.com/chri1ssy?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="card-body pt-0">
                                              <h5 class="card-title text-light">Tiaan Nel</h5>
                                              <p class="card-text">15 Projects</p>
                                              <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                          </div> 
                                          <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                            <div class="row">
                                              <div class="col-12">
                                                <div class="card-img-block row">
                                                  <img src="http://identicon-1132.appspot.com/kev1in?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="card-body pt-0">
                                              <h5 class="card-title text-light">kevin Coetzee</h5>
                                              <p class="card-text">15 Projects</p>
                                              <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                          </div>   
                                          <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0">
                                            <div class="row">
                                              <div class="col-12">
                                                <div class="card-img-block row">
                                                  <img src="http://identicon-1132.appspot.com/her2bs?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                                </div>
                                              </div>
                                            </div>
                                            <div class="card-body pt-0">
                                              <h5 class="card-title text-light">Herbert Magaya</h5>
                                              <p class="card-text">15 Projects</p>
                                              <a href="#" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                          </div>   
                                </div>                               
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>