<div class="container-fluid mx-auto m-0 project-component" xmlns="http://www.w3.org/2000/svg">
  <div class="wrapper-outer">
    <div class="main">
      <div class="row">
        <div class="" id="dashboard-content">
          <div class="row">
            <div class="col-12 mx-auto rounded-lg main-dash px-5">
              <div class="container-fluid m-0 wrapper rounded">
                <div class="row rounded mt-2">
                  <div class="col-12 ml-0 pl-0">
                    <h2 class=" display-5 text-black">MANAGE USERS</h2>
                  </div>
                  <div class="container-fluid mx-auto m-0 ">
                    <div class="wrapper-outer">
                      <div class="main">
                        <div class="row">
                          <div class="" id="dashboard-content">
                            <div class="row">
                              <div class="col-12 mt-4 px-0">
                                <div class="row">
                                  <div class="md-form col-10">
                                    <input type="text" id="form1" class="form-control">
                                    <!-- <button class="btn btn-outline-primary float-right">Hello</button> -->
                                    <label for="form1" id="form-label">Search</label>
                                  </div>
                                  <br>
                                  <div class="col-12">
                                    <div class="row" *ngFor="let userRow of users; let i = index">
                                      <div class="card profile-card-5 col-lg-3 col-md-5 col-12 mx-3 mt-5 px-0" *ngFor="let user of users[i]">
                                        <div class="row">
                                          <div class="col-12">
                                            <div class="card-img-block row">
                                              <img src="http://identicon-1132.appspot.com/{{user.username}}?s=30&p=8&f=svg" class="mx-auto" width=150 height=150 alt="">
                                            </div>
                                          </div>
                                        </div>
                                        <div class="card-body pt-0">
                                          <div class="float-left">
                                            <h5 class="card-title text-light">{{user.name}} {{user.surname}}</h5>
                                            <p class="card-text">15 Projects</p>
                                          </div>
                                          <div class="dropdown float-right">
                                            <div class="ellipsis" type="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              <i class="fas fa-ellipsis-v"></i>
                                            </div>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" data-toggle="modal" data-target="#myModal" (click)="onViewUserClick(user)"><i class="fas fa-eye mr-3"></i>View user</a>
                                              <div class="dropdown-divider"></div>
                                              <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal2"><i class="fas fa-trash mr-3"></i>Remove user</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>                               
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-content-color">
      <div class="modal-header modal-header-color">
        <h5>User Details</h5>
        <button type="button" class="text-light" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="pl-3 row">
          <div class="col-6 text-secondary"><h6 class="display-5">Name:</h6></div>
          <div class="col-6 text-light">{{user.name}}</div>
        </div>
        <br>
        <div class="pl-3 row">
          <div class="col-6 text-secondary"><h6 class="display-5">Surname:</h6></div>
          <div class="col-6 text-light">{{user.surname}}</div>
        </div>
        <br>
        <div class="pl-3 row">
          <div class="col-6 text-secondary"><h6 class="display-5">Username:</h6></div>
          <div class="col-6 text-light">{{user.username}}</div>
        </div>
        <br>
        <div class="pl-3 row">
          <div class="col-6 text-secondary"><h6 class="display-5">Email:</h6></div>
          <div class="col-6 text-light">{{user.email}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirmtion modal -->

<div class="modal fade text-dark" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Removal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you would like to remove this user?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onRemoveUserClick()"><i class="mr-3 fas fa-check"></i>Confirm</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="mr-3 fas fa-ban"></i>Cancel</button>
        </div>
      </div>
    </div>
  </div>
