<!-- <div class="container-fluid mx-auto m-0 project-component">
    <div class="wrapper-outer">
      <div class="main">
        <div class="row">
          <div class="" id="dashboard-content">
            <div class="row">
              <div class="col-12 mx-auto rounded-lg main-dash px-5">
                <div class="container-fluid m-0 wrapper rounded">
                  <div class="row rounded mt-2">
                    <div class="col-12 ml-0 pl-0">
                      <h2 class=" display-5 text-black">USER STATISTICS</h2>
                    </div>

  
  
                      <div class="container-fluid mx-auto m-0 ">
                        <div class="wrapper-outer">
                          <div class="main">
                            <div class="row">
                              <div class="" id="dashboard-content">
                                <div class="row">
                                  <div class="col-12 mt-4 px-0">
                                    <div class="card-deck mt-4">
                                      <div class="card shadow-lg">
                                        <div class="card-header">
                                          <h5 class="display-5"><b>USER STATISTICS</b></h5>
                                        </div>
                                        <div class="card-body text-gray">
                                          <div class="card-body text-gray">
                                            <div class="pl-3 row">
                                              <div class="col-6 text"><h6 class="display-5">Current Number of Users:</h6></div>
                                              <div class="col-6 text-light">512</div>
                                            </div>
                                            <br>
                                            <div class="pl-3 row">
                                              <div class="col-6"><h6 class="display-5">Active Users:</h6></div>
                                              <div class="col-6 text-light">216</div>
                                            </div>
                                            <br>
                                            <div class="pl-3 row">
                                              <div class="col-6"><h6 class="display-5">Total Users Joined Today:</h6></div>
                                              <div class="col-6 text-light">15</div>
                                            </div>
                                            <br>
                                            <div class="pl-3 row">
                                              <div class="col-6"><h6 class="display-5">Average Number of Projects Per User</h6></div>
                                              <div class="col-6 text-light">12</div>
                                            </div>
                                        
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card shadow-lg">
                                        <div class="card-header">
                                          <h5 class="display-5"><b>PROJECT STATISTICS</b></h5>
                                        </div>
                                        <div class="card-body text-gray">
                                          <div class="card-body text-gray">
                                            <div class="pl-3 row">
                                              <div class="col-6 text"><h6 class="display-5">Total Projects Created:</h6></div>
                                              <div class="col-6 text-light">2048</div>
                                            </div>
                                            <br>
                                            <div class="pl-3 row">
                                              <div class="col-6"><h6 class="display-5">Total Times Project Analysed:</h6></div>
                                              <div class="col-6 text-light">11054</div>
                                            </div>
                                            <br>
                                            <div class="pl-3 row">
                                              <div class="col-6"><h6 class="display-5">Average Sentiment Overall</h6></div>
                                              <div class="col-6 text-light">26%</div>
                                            </div>
                                            
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-deck mt-4">
                                      <div class="card shadow-lg">
                                        <div class="card-header">
                                          <h5 class="display-5"><b>Daily New Users Joined</b></h5>
                                        </div>
                                        <div class="card-body text-gray">
                                          <div style="">
                                            <ejs-chart id="chart-container" [primaryXAxis]='' [primaryYAxis]=''
                                            [title]=''>
                                                <e-series-collection>
                                                    <e-series [dataSource]='' type='Line' xName='x' yName='y' name='proj1'></e-series>
                                                    <e-series [dataSource]='' type='Line' xName='x' yName='y'  name='proj1'></e-series>
                                                </e-series-collection>
                                            </ejs-chart>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container-fluid mx-auto m-0 project-component">
    <div class="wrapper-outer">
      <div class="main">
        <div class="row">
          <div class="" id="dashboard-content">
            <div class="row">
              <div class="col-12 mx-auto rounded-lg main-dash px-5">
                <div class="container-fluid m-0 wrapper rounded">
                  <div class="row rounded mt-2">
                    <div class="col-12 ml-0 pl-0">
                      <h2 class=" display-5 text-black">WELCOME HOME</h2>
                    </div>
                    <div class="container-fluid mx-auto m-0 ">
                      <div class="wrapper-outer">
                        <div class="main">
                          <div class="row">
                            <div class="" id="dashboard-content">
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>