<div class="row p-0 m-0 text-light mb-5 mt-5">
  <div class="col-12 mx-auto mt-5">
    <div class="row">
      <div class="col-12 text-align-center">
        <i class="icon fas fa-clipboard"></i>
      </div>
    </div>
  </div>
  <div class="col-12 mx-auto mt-5">
    <div class="row text-align-center">
      <div class="col-auto mx-auto">
        <div class="mt-1 text-align-center">
          <button class="btn btn-outline-primary" routerLink="../../create-project">
            Create Project
          </button>
        </div>
      </div>
    </div>
  </div>
</div>