@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

hr {
  border-color: rgb(35, 83, 138) !important;
}

#nav-bg {
  background-color: rgba(0, 57, 103, 0.3);
}

#logo {
  font-size: 1.5rem;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
}

.left-align-text {
  text-align: left;
}

span {
  color: white;
}

@media only screen and (max-width: 1200px) {
  #nav-bg {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.border-bottom {
  border-color: rgb(44, 94, 133) !important;
}

.container-fluid {
  width: 90% !important;
}

a:hover {
  background-color: rgb(31, 96, 165);
  transition-duration: 0s;
}

a:not(:hover) {
  transition-duration: 0s;
}

a:hover i {
  color:white;
}

.active {
  background-color: rgba(31, 96, 165, 0.5);
}

.active i {
  color: white;
}

.active:hover {
  background-color: rgb(52, 118, 189) !important;
}

.active_bar {
  position: relative;
  display: table-cell;
  width: 6px !important;
  background-color: rgb(63, 129, 199) !important;
  height: 50px;
}

.link-wrapper {
  display: table; 
}

span {
  color: white;
}

.link {
  display: table-cell;
}

.no_ab {
  position: relative;
  display: table-cell;
  width: 1px !important;
  height: 50px;
}