
<nav class="navbar navbar-dark navbar-icon-top navbar-expand-lg" id="nav-bg">
  <a class="navbar-brand text-light" href="/" id="logo">Jargon</a>
  <button class="navbar-toggler text" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav ">
      <div class="dropdown mr-lg-2 mt-lg-0 mt-3">
        <button class="mb-lg-0 mt-lg-0 mb-2 mt-lg-0 mt-2 btn btn-block btn-outline-light dropdown-toggle rounded-pill raise" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-sitemap"></i> Neural Network
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Train Neural Network</a>
          <a class="dropdown-item" href="#">Retrain Neural Network</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Remove Neural Network</a>
        </div>
      </div>
      <div class="dropdown mr-lg-2">
        <button class="mb-lg-0 mt-lg-0 mt-2 mb-2 btn btn-block btn-outline-light dropdown-toggle rounded-pill raise" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-clipboard"></i> Projects
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="create-project">Create Project</a>
          <a class="dropdown-item" href="view-projects">View Projects</a>
        </div>
      </div>
      <div class="dropdown mr-lg-5">
        <button class="btn mt-lg-0 mt-2 mb-lg-0 mb-2 btn-outline-light  btn-block dropdown-toggle rounded-pill raise" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Profile
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">View Profile</a>
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Preferences</a>
          <a class="dropdown-item" href="#">Statistics</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0 rounded-pill raise" type="submit">Search</button>
    </form>
  </div>
</nav>
