
<nav class="navbar navbar-dark navbar-icon-top navbar-expand-xl" id="nav-bg">
  <a class="navbar-brand text-light" href="/" id="logo">Jargon</a>
  <button class="navbar-toggler text" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div [hidden]="collapse" class="mt-3">
      <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
        <div class="left-align-text pl-3 text-size-medium">
          <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">Home</span>
        </div>
      </a>
    </div>

    <div class="row">
        <div class="col mx-3"><hr></div>
    </div>

    <div [hidden]="collapse">
      <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
        <div class="left-align-text pl-3 text-size-medium">
          <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">View Projects</span>
        </div>
      </a>
    </div>

    <div [hidden]="collapse">
      <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
        <div class="left-align-text pl-3 text-size-medium">
          <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">Create Project</span>
        </div>
      </a>
    </div>

    <div class="row">
      <div class="col mx-3"><hr></div>
    </div>

    <div [hidden]="collapse"> 
      <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
        <div class="left-align-text pl-3 text-size-medium">
          <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">Neural Network</span>
        </div>
      </a>
    </div>

    <div class="row" [hidden]="collapse">
      <div class="col mx-3"><hr></div>
    </div>

    <div [hidden]="collapse">
      <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
        <div class="left-align-text pl-3 text-size-medium">
          <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">Account Settings</span>
        </div>
      </a>
    </div>

    <div [hidden]="collapse">
      <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
        <div class="left-align-text pl-3 text-size-medium">
          <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">View Profile</span>
        </div>
      </a>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0 rounded-pill raise" type="submit">Search</button>
    </form>
  </div>
</nav>
