<div class="container-fluid mx-auto m-0 project-component">
  <div class="wrapper-outer">
    <div class="main">
      <div class="row">
        <div class="" id="dashboard-content">
          <div class="row">
            <div class="col-12 mx-auto rounded-lg main-dash px-5">
              <div class="container-fluid m-0 wrapper rounded">
                <div class="row rounded mt-2">
                  <div class="col-12 ml-0 pl-0">
                    <h2 class=" display-5 text-black">COMPARE PROJECTS</h2>
                  </div>
                  <!-- <div class="compare-content"> -->


                    <div class="container-fluid mx-auto m-0 ">
                      <div class="wrapper-outer">
                        <div class="main">
                          <div class="row">
                            <div class="" id="dashboard-content">
                              <div class="row">
                                <div class="col-12 mt-4 px-0">
                                  <div class="card-deck">
                                    <div class="card shadow-lg">
                                      <div class="card-header">
                                        <h5 class="display-5"><b>SELECT PROJECTS</b></h5>
                                      </div>
                                      <div class="card-body text-gray">
                                        <div class="row">
                                          <div class="col-auto">
                                            <select class="browser-default custom-select">
                                              <option selected>Select Project 1</option>
                                              <option value="1">BEEp Boop beep bop</option>
                                              <option value="2">bleep bllop extra lon shlong</option>
                                              <option value="3">helo Chrissy</option>
                                            </select>
                                          </div>
                                          <div class="col-auto">
                                            <select class="browser-default custom-select">
                                              <option selected>Select Project 2</option>
                                              <option value="1">Sup noi</option>
                                              <option value="2">Im bored af rn lmao</option>
                                              <option value="3">Ffs im done ye</option>
                                            </select>
                                          </div>
                                          <div class="col-auto ml-auto">
                                            <button class="btn btn-outline-primary text-light">Compare</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card-deck mt-4">
                                    <div class="card shadow-lg">
                                      <div class="card-header">
                                        <h5 class="display-5"><b>PROJECT 1 STATISTICS</b></h5>
                                      </div>
                                      <div class="card-body text-gray">
                                        <div class="card-body text-gray">
                                          <div class="pl-3 row">
                                            <div class="col-6 text"><h6 class="display-5">Example Stat Here:</h6></div>
                                            <div class="col-6 text-light">Data here</div>
                                          </div>
                                          <br>
                                          <div class="pl-3 row">
                                            <div class="col-6"><h6 class="display-5">Another Stat here:</h6></div>
                                            <div class="col-6 text-light">Data Here </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card shadow-lg">
                                      <div class="card-header">
                                        <h5 class="display-5"><b>PROJECT 2 STATISTICS</b></h5>
                                      </div>
                                      <div class="card-body text-gray">
                                        <div class="card-body text-gray">
                                          <div class="pl-3 row">
                                            <div class="col-6 text"><h6 class="display-5">Example Stat Here:</h6></div>
                                            <div class="col-6 text-light">Data here</div>
                                          </div>
                                          <br>
                                          <div class="pl-3 row">
                                            <div class="col-6"><h6 class="display-5">Another Stat here:</h6></div>
                                            <div class="col-6 text-light">Data Here </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card-deck mt-4">
                                    <div class="card shadow-lg">
                                      <div class="card-header">
                                        <h5 class="display-5"><b>GRAPHS</b></h5>
                                      </div>
                                      <div class="card-body text-gray">
                                        <div style="display: block;">
                                          <canvas baseChart width="400px" height="100px"
                                            [datasets]="lineChartData"
                                            [labels]="lineChartLabels"
                                            [options]="lineChartOptions"
                                            [colors]="lineChartColors"
                                            [legend]="lineChartLegend"
                                            [chartType]="lineChartType"
                                            [plugins]="lineChartPlugins">
                                          </canvas>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>