
<div class="container " id="container">
	<div class="form-container sign-up-container">
		<form action="#">
      <h1 style="padding-bottom:45px">Create Account</h1>
      <br><br><br>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
      <h1 style="padding-bottom:45px">Sign in</h1>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
        <div><img src="../../assets/images/logo-white.png" id="logo"></div>
				<h1 class="heading">Jargon</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
        <div><img src="../../assets/images/logo-white.png" id="logo2"></div>
				<h1 class="heading">Jargon</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
