<app-header></app-header>
<div class="container-fluid mt-2 dashboard">
  <div class="wrapper">
    <div class="sidebar" [hidden]='collapse'>
      <app-sidebar></app-sidebar>
    </div>
    <div class="main">
      <div class="row">
        <div class="" id="dashboard-content">
          <div class="row">
            <div class="col-11 mx-auto pl-0 mb-4">
              <h1 class="display-4">Dashboard</h1>
            </div>
            <div class="col-11 mx-auto shadow-lg rounded-lg" id="main-dash">
              <div class="row">
                <div class="col-lg-4 col-12 my-2 ml-2 mb-4 style-5">
                  <!-- <app-projects></app-projects> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
