<app-register-navbar></app-register-navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-12 mx-auto mt-5">
      <div class="card main-card white-text shadow style-5">
        <article class="card-body mx-4">
          <h4 class="card-title mt-3 text-center">Create Account</h4>
          <br>
          <form #f="ngForm">
          <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text span-background"> <i class="fa fa-user"></i> </span>
                </div>
                  <input name="" class="form-control" placeholder="Full name" type="text">
              </div> <!-- form-group// -->
          <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text span-background"> <i class="fa fa-user"></i> </span>
                </div>
                  <input name="" class="form-control" placeholder="Surname" type="text">
              </div> <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text span-background"> <i class="fa fa-user"></i> </span>
              </div>
                <input name="" class="form-control" placeholder="Username" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text span-background"> <i class="fa fa-envelope"></i> </span>
              </div>
                <input name="" class="form-control" placeholder="Email address" type="email">
            </div> <!-- form-group// -->
             <!-- form-group// -->
            
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text span-background"> <i class="fa fa-lock"></i> </span>
            </div>
                <input class="form-control" placeholder="Create password" type="password">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text span-background"> <i class="fa fa-lock"></i> </span>
            </div>
                <input class="form-control" placeholder="Confirm password" type="password">
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
            </div> <!-- form-group// -->
            <p class="text-center">Have an account? <a href="">Log In</a> </p>
        </form>
        </article>
      </div> <!-- card.// -->
    </div>
  </div>
</div>
