<app-header></app-header>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-10 mx-auto bg-white shadow-lg rounded-lg dash style-5">
      <div id="form" class="row">
        <div class="col-12">
          <form #f="ngForm">
            <div class="row">
              <div class="col-lg-11 mx-auto">
                  <h3 class="display-3">Create Project</h3>
                <div class="row">

                  <div class="col-12 mt-3">
                    <div class="form-group">
                      <label for="project-name">Project Name *</label>
                      <input type="text" class="form-control" id="project-name" placeholder="eg. University of Pretoria Sentiments" name="name" ngModel required>
                    </div>
                  </div>
                  <div class="col-12 float-left">
                    <div class="form-group">
                      <label for="Source">Source *</label>
                      <select class="form-control" id="source" name="source" ngModel required>
                        <option value="" selected disabled>Please select a source</option>
                        <option>Twitter</option>
                        <option>Facebook</option>
                        <option>Instagram</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 mb-1">
                    <div class="form-group">
                      <label for="project-name">Track Time (s) min(30) * </label>
                      <input type="number" class="form-control" min="30" value="30" name="track" required
                      #track="ngModel"
                      pattern="^([3-9]\d|\d{3,})$"
                      [(ngModel)]="track.value"
                      [ngClass]="{ 'is-invalid': track.touched && track.invalid }"
                      >
                    </div>
                  </div>

                  <div class="col-12 mb-1">
                    <div class="form-group">
                      <label for="whitelist1">Whitelisted Words *</label>
                      <input (keyup.enter)="addWhitelistWord(whitelistword)" [(ngModel)]="whitelistword" class="form-control mb-2" id="whitlist1" name="whitelist" placeholder="Press Enter key to select word">
                      <div *ngFor="let word of whitelist; let i = index" class="mt-3 badge badge-pill badge-primary mr-1 blw p-0 mr-3"><div class="float-left mx-3 mt-2"><h6 class="m-0">{{ word }}</h6></div><div (click)="removeWhitelistWord(i)" class="float-right m-0 btn btn-secondary round">X</div></div>
                    </div>
                  </div>

                  <div class="col-12 mt-4">
                    <div class="form-group">
                      <label for="blacklist1">Blacklisted Words</label>
                      <div>
                        <input (keyup.enter)="addBlacklistWord(blacklistword)" [(ngModel)]="blacklistword"  class="form-control mb-2" id="blacklist1" name="blacklist" placeholder="Press Enter key to select word">
                        <div *ngFor="let word of blacklist; let i = index" class="mt-3 badge badge-pill badge-primary mr-1 blw p-0 mr-3"><div class="float-left mx-3 mt-2"><h6 class="m-0">{{ word }}</h6></div><div (click)="removeBlacklistWord(i)" class="float-right m-0 btn btn-secondary round">X</div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-5 center">
                  <input class="btn btn-outline-primary rounded-pill mx-auto" type="button" (click)="onCreateProject(f)" value="Create" [disabled]="!f.valid || whitelist.length == 0 || !track.valid">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

