<div class="container-fluid mx-auto m-0 project-component">
  <div class="wrapper-outer">
    <div class="main">
      <div class="row">
        <div class="" id="dashboard-content">
          <div class="row">
            <div class="col-12 mx-auto rounded-lg main-dash px-5">
              <div class="container-fluid m-0 wrapper rounded">
                <div class="row rounded mt-2">
                  <div class="col-12 ml-0 pl-0">
                    <h2 class=" display-5 text-black">MANAGE USER PROJECTS</h2>
                  </div>
                  <div class="container-fluid mx-auto m-0 ">
                    <div class="wrapper-outer">
                      <div class="main">
                        <div class="row">
                          <div class="" id="dashboard-content">
                            <div class="row">
                              <div class="col-12 mt-4 px-0">
                                <div class="md-form">
                                  <input type="text" id="form1" class="form-control">
                                  <!-- <button class="btn btn-outline-primary float-right">Hello</button> -->
                                  <label for="form1" id="form-label">Search</label>
                                </div>
                                <ul class="list-group">
                                  <li class="list-group-item">Project 1</li>
                                  <li class="list-group-item">Project 2</li>
                                  <li class="list-group-item">Project 3</li>
                                  <li class="list-group-item">Project 4</li>
                                  <li class="list-group-item">Project 5</li>
                                  <li class="list-group-item">Project 1</li>
                                  <li class="list-group-item">Project 2</li>
                                  <li class="list-group-item">Project 3</li>
                                  <li class="list-group-item">Project 4</li>
                                  <li class="list-group-item">Project 5</li>
                                  <li class="list-group-item">Project 1</li>
                                  <li class="list-group-item">Project 2</li>
                                  <li class="list-group-item">Project 3</li>
                                  <li class="list-group-item">Project 4</li>
                                  <li class="list-group-item">Project 5</li>
                                  <li class="list-group-item">Project 1</li>
                                  <li class="list-group-item">Project 2</li>
                                  <li class="list-group-item">Project 3</li>
                                  <li class="list-group-item">Project 4</li>
                                  <li class="list-group-item">Project 5</li>
                                  <li class="list-group-item">Project 1</li>
                                  <li class="list-group-item">Project 2</li>
                                  <li class="list-group-item">Project 3</li>
                                  <li class="list-group-item">Project 4</li>
                                  <li class="list-group-item">Project 5</li>
                                </ul>
                                <div class="row mt-3">
                                  <div class="mx-auto">
                                    <nav aria-label="Page navigation example">
                                      <ul class="pagination pg-blue">
                                        <li class="page-item ">
                                          <a class="page-link" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link">1</a></li>
                                        <li class="page-item active">
                                          <a class="page-link">2 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item"><a class="page-link">3</a></li>
                                        <li class="page-item ">
                                          <a class="page-link">Next</a>
                                        </li>
                                      </ul>
                                    </nav>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>