<nav class="navbar navbar-dark navbar-icon-top navbar-expand-lg" id="nav-bg">
  <a class="navbar-brand text-light" href="/" id="logo">Jargon</a>
  <button class="navbar-toggler text" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn form-control btn-outline-light my-2 my-sm-0 rounded-pill raise" type="button" (click)="onRegisterClick()">Register</button>
    </form>
  </div>
</nav>
