<h1>Charts</h1>
<div class="style-5 dash pr-3 pl-3">
  <div class="row">
    <div class="col-lg-6 col-12 mb-3">
        <div class="card">
          <div class="card-body shadow">
            <canvas id="myChart1"></canvas>
          </div>
        </div>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <div class="card">
          <div class="card-body shadow">
            <canvas id="myChart2"></canvas>
          </div>
        </div>
    </div>
    <div class="col-lg-6 col-12 mb-3">
        <div class="card">
          <div class="card-body shadow">
            <canvas id="myChart3"></canvas>
          </div>
        </div>
    </div>
  </div>
</div>

