<div id="form" class="row m-0 p-0">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="row">
            <div class="col-12 mt-3">
              <div class="form-group">
                <label for="project-name">Project Name *</label>
                <input type="text" class="form-control" id="project-name" placeholder="eg. University of Pretoria Sentiments" name="name" required [(ngModel)]="project.projectName">
              </div>
            </div>
            <div class="col-12 float-left">
              <div class="form-group">
                <label for="Source">Source *</label>
                <select class="form-control" id="source" name="source"  required>
                  <option value="" selected disabled>Please select a source</option>
                  <option>Twitter</option>
                  <option>Facebook</option>
                  <option>Instagram</option>
                </select>
              </div>
            </div>

            <div class="col-12 mb-1">
              <div class="form-group">
                <label for="project-name">Track Time (s) min(30) * </label>
                <input type="number" class="form-control" min="30" value="30" name="track" required>
              </div>
            </div>

            <div class="col-12 mb-1">
              <div class="form-group">
                <label for="whitelist1">Whitelisted Words *</label>
                <input class="form-control mb-2" id="whitlist1" name="whitelist" placeholder="Press Enter key to select word">
                <!-- <div class="mt-3 badge badge-pill badge-primary mr-1 blw p-0 "><div class="float-left mx-3 mt-2"><h6 class="m-0"></h6></div><div class="float-right m-0 btn btn-secondary round">X</div></div> -->
              </div>
            </div>

            <div class="col-12 mt-4">
              <div class="form-group">
                <label for="blacklist1">Blacklisted Words</label>
                <div>
                  <input   class="form-control mb-2" id="blacklist1" name="blacklist" placeholder="Press Enter key to select word">
                  <!-- <div class="mt-3 badge badge-pill badge-primary blw p-0"><div class="float-left mx-3 mt-2"><h6 class="m-0"></h6></div><div class="float-right m-0 btn btn-secondary round">X</div></div> -->
                </div>
              </div>
            </div>
          </div>
          
          <!-- <div class="mt-5 center mb-5">
            <input class="btn btn-outline-primary rounded-pill mx-auto" type="button"  value="Create">
          </div> -->
        </div>
      </div>
    </form>
    <button [routerLink]="['../project-result']">Results</button>
  </div>
</div>