<div id="form" class="row m-0 p-0">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="row">
            <div class="col-12 mt-4">
              <div class="row">
                <div class="col-1 ml-auto mr-4">
                  <i class="fas fa-cog settings_icon" (click)="onEditClick()"></i>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="form-group">
                <label for="project-name">Project Name *</label>
                <input type="text" class="form-control" id="project-name" placeholder="eg. University of Pretoria Sentiments" name="name" [readonly]="isReadOnly" required [(ngModel)]="projectSnapshot.project_name">
              </div>
            </div>
            <div class="col-12 float-left">
              <div class="form-group">
                <label for="Source">Source *</label>
                <select class="form-control" id="source" name="source" [disabled]="isReadOnly" required [(ngModel)]="projectSnapshot.source" [compareWith]="compareSource">
                  <option value="" selected disabled>Please select a source</option>
                  <option value="Twitter">Twitter</option>
                  <option value="Facebook">Facebook</option>
                  <option value="Instagram">Instagram</option>
                </select>
              </div>
            </div>

            <div class="col-12 mb-1">
              <div class="form-group">
                <label for="project-name">Track Time (s) min(30) * </label>
                <input type="number" class="form-control" min="30" value="30" name="track" [readonly]="isReadOnly" required [(ngModel)]="projectSnapshot.trackTime">
              </div>
            </div>

            <div class="col-12 ">
              <div class="form-group">
                <label for="whitelist1">Whitelisted Words *</label>
                <input class="form-control mb-2" id="whitlist1" name="whitelist" placeholder="Press Enter key to select word" required [readonly]="isReadOnly" [(ngModel)]="whitelistword" (keyup.enter)="addWhitelistWord()">
                <span class="btn btn-white pr-1 pill mr-3 mt-2" *ngFor="let whitelistword of projectSnapshot.whitelist; let i = index">
                  {{whitelistword}}<span class="badge m-1 mr-0"><i class="fas fa-close" (click)="removeWhitelistWord(i)"></i></span>
                </span>
              </div>
            </div>

            <div class="col-12 mt-2">
              <div class="form-group">
                <label for="blacklist1">Blacklisted Words</label>
                <div>
                  <input class="form-control mb-2" id="blacklist1" name="blacklist" [readonly]="isReadOnly" placeholder="Press Enter key to select word" [(ngModel)]="blacklistword" (keyup.enter)="addBlacklistWord()">
                  <span class="btn btn-white pr-1 pill mr-3 mt-2" *ngFor="let blacklistword of projectSnapshot.blacklist; let i = index">
                    {{blacklistword}}<span class="badge m-1 mr-0"><i class="fas fa-close" (click)="removeBlacklistWord(i)"></i></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </form>
    <!-- <div class="mt-5 center mb-5">
      <input class="btn btn-outline-primary rounded-pill mx-auto" type="button"  value="Create">
    </div> -->
    <div class="container">
      <div class="row mt-3 mb-3">
        <div class="col-auto ml-auto" [hidden]="!isReadOnly">
            <button class="btn btn-white results" [routerLink]="['../../../project-result']">Results</button>
        </div>
        <div class="col-auto mr-auto" [hidden]="!isReadOnly">
          <button class="btn btn-white results" (click)="onStartClick()" data-toggle="modal" data-target="#exampleModal">Start</button>
        </div>
        <div class="col-auto ml-auto" [hidden]="isReadOnly">
            <button class="btn btn-white save" (click)="onSaveClick()">Save <i class="fas fa-check"></i></button>
        </div>
        <div class="col-auto mr-auto" [hidden]="isReadOnly">
            <button class="btn btn-white cancel" (click)="onCancelClick()">Cancel <i class="fas fa-ban"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade mt-5 text-dark" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Project Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="float-left">Project is running </span>
        <span class="m-1 ml-3 float-left spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="float-right">{{time}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white btn-danger" data-dismiss="modal">Stop</button>
      </div>
    </div>
  </div>
</div>