<div class="container-fluid m-0 dashboard">
    <div class="wrapper">
      <div class="main">
        <div class="row">
          <div class="" id="dashboard-content">
            <div class="row">
              <div class="col-12 mx-auto pl-0 mb-4">
                <h1 class="m-0 display-4">Projects</h1>
              </div>
              <div class="col-12 mx-auto shadow-lg rounded-lg main-dash">
                <div class="row">
                  <div class="col-12">h</div>
                </div>
                
          

<!-- <div class="container-fluid">
    <div class="row">
      <div *ngIf='dataMode==true' class="col-10 mx-auto bg-white shadow-lg rounded-lg mt-5 dash style-5">
        <button class="mt-3 btn bg-primary rounded-pill text-light raise" (click)='close()'>Close</button>
        <ul *ngFor='let tweet of twitterResults; let i = index' class="list-group mt-4 mb-4">
          <li class="tweets list-group-item">
            <div class="row">
              <div class="col-md-9 col-12">
                {{ twitterResults[i]['text'] }}
              </div>
              <div class="col-md-3 col-12 mt-md-0 mt-2">
                {{ sentiments[i] }}
              </div>
            </div>
          </li>
        </ul>
      </div>
  
      <div *ngIf='dataMode==false' class="col-10 mx-auto bg-white shadow-lg rounded-lg mt-5 dash style-5">
        <h3 *ngIf="projectData.length > 0" class="display-3">Projects</h3>
        <div *ngIf="projectData.length == 0" id="icon-holder">
            <div><i class="far fa-file-alt" id="page-icon"></i></div>
            <div id="no-proj"><h3 id="no-proj-heading">No Projects</h3></div>
            <a id="plus" class="btn rounded-pill raise btn-outline-light bg-primary mt-3" href="create-project">Create new project</a>
        </div>
  
        <div *ngIf="projectData.length > 0">
          <div id="accordion" class="mt-3 mb-4">
            <div *ngFor="let project of projectData; let i = index" class="card">
              <div class="card-header" [attr.id]='"heading-" + i'>
                <h5 class="mb-0">
                  <div class="row">
                    <div class="col-lg-5 col-md-6 col-12">
                      <button class="btn form-control btn-primary" (click)="resetData(g)" data-toggle="collapse" [attr.data-target]='"#a-" + i' aria-expanded="true" aria-controls="collapseOne">
                        {{ projectData[i].project_name }}
                      </button>
                    </div>
                  </div>
                </h5>
              </div>
  
              <div [attr.id]='"a-" + i' class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <form *ngIf='editMode==true' #g='ngForm'>
                    <div>
                      <div class="form-group">
                        <label for="project-name">Project Name *</label>
                        <input type="text" class="form-control" id="project-name" [(ngModel)]='projectData[i].project_name' placeholder="eg. University of Pretoria Sentiments" name="name" ngModel required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="whitelist1">Whitelisted Words *</label>
                      <input ngModel (keyup.enter)="addWhitelistWord(whitelistword)" [(ngModel)]="whitelistword" class="form-control mb-2" id="whitlist1" name="whitelist" placeholder="Press Enter key to select word">
                      <div *ngFor="let word of whitelist; let i = index" class="mt-3 badge badge-pill badge-primary mr-1 blw p-0 mr-3"><div class="float-left mx-3 mt-2"><h6 class="m-0">{{ word }}</h6></div><div (click)="removeWhitelistWord(i)" class="float-right m-0 btn btn-secondary round">X</div></div>
                    </div>
                    <div class="form-group">
                      <label for="blacklist1">Blacklisted Words</label>
                      <div>
                        <input ngModel (keyup.enter)="addBlacklistWord(blacklistword)" [(ngModel)]="blacklistword"  class="form-control mb-2" id="blacklist1" name="blacklist" placeholder="Press Enter key to select word">
                        <div *ngFor="let word of blacklist; let i = index" class="mt-3 badge badge-pill badge-primary mr-1 blw p-0 mr-3"><div class="float-left mx-3 mt-2"><h6 class="m-0">{{ word }}</h6></div><div (click)="removeBlacklistWord(i)" class="float-right m-0 btn btn-secondary round">X</div></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="Source">Source *</label>
                      <select class="form-control" id="source" name="source" ngModel required  [(ngModel)]='projectData[i].source' >
                        <option>Twitter</option>
                        <option>Facebook</option>
                        <option>Instagram</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="project-name">Track Time (s) min(30) * </label>
                      <input type="number" class="form-control" min="30" value="0" name="track" required
                      #track="ngModel" ngModel
                      pattern="^([3-9]\d|\d{3,})$"
                      [(ngModel)]='projectData[i].trackTime'
                      [ngClass]="{ 'is-invalid': track.touched && track.invalid }"
                      >
                    </div>
  
                    <div class="row mt-3">
                      <div class="col-md-4 col-12 mt-md-0 mt-3">
                          <input class="form-control btn btn-secondary" (click)='changeMode(g, projectData[i]._id); assignArrays(i);' value='Update'  [disabled]="!g.valid || whitelist.length == 0 || !track.valid">
                      </div>
                      <div class="col-md-4 col-12 mt-md-0 mt-3">
                        <div class="form-control btn btn-danger" (click)='reset(g)'>Cancel</div>
                      </div>
                    </div>
                  </form>
                  <div *ngIf='editMode==false'>
                    <div><h6 class="display-6">Project Name: <span>{{ projectData[i].project_name }}</span> </h6> </div>
                    <div><h6 class="display-6">ID: <span>{{ projectData[i]._id }}</span></h6></div>
                    <div><h6 class="display-6">Whitelisted words: <span>{{ projectData[i].whitelist }}</span></h6></div>
                    <div><h6 class="display-6">Blacklisted words: <span>{{ projectData[i].blacklist }}</span></h6></div>
                    <div><h6 class="display-6">Source: <span>{{ projectData[i].source }}</span></h6></div>
                    <div><h6 class="display-6">Created by: <span>{{ projectData[i].createdBy }}</span></h6></div>
                    <div><h6 class="display-6">Date created: <span>{{ projectData[i].created }}</span></h6></div>
                    <div class="row mt-3">
                      <div class="col-md-4 col-12">
                        <div *ngIf="editMode==false" class="form-control btn btn-warning" (click)='start(projectData[i]._id)'>Start</div>
                      </div>
                      <div class="col-md-4 col-12 mt-md-0 mt-3">
                        <input *ngIf="editMode==false" class="form-control btn btn-secondary" (click)='changeMode(g, projectData[i]._id); assignArrays(i);' value='Edit'>
                      </div>
                      <div class="col-md-4 col-12 mt-md-0 mt-3">
                        <div class="form-control btn btn-danger" (click)='remove(g, projectData[i]._id)'>Remove</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div> -->
  
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





