<div class="container-fluid m-0 dashboard">
    <div class="wrapper-outer">
      <div class="main">
        <div class="row">
          <div class="" id="dashboard-content">
            <div class="row">
              <div class="col-12 mx-auto pl-0 mb-4">
                <h2 class="m-0 display-4">PROJECTS</h2>
              </div>
              <div class="col-12 mx-auto rounded-lg main-dash p-0">
                <div class="container-fluid m-0 wrapper rounded">
                  <div class="row rounded">
                    <div class="col-md-4 col-12 p-0 m-0 project-list main-content style-5">
                      <ul class="list-group">
                        <li  class="list-group-item search-bar m-0 rounded-0 justify-space-between">
                          <div class="row">
                            <div class="col-12 mb-2">
                              <span class="float-right"><i class="fas fa-refresh" (click)="onRefreshProjectsClick()"></i></span>
                            </div>
                            <div class="col-12 k=justify-space-between"> 
                              <div class="row">
                                <div class="col-xl-8 mt-2 col-12">
                                  <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <div class="col-xl-4 mt-2 col-12">
                                  <span class="btn form-control btn btn-outline-primary">Search</span>
                                </div>
                              </div>                       
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item btn m-0 rounded-0" *ngIf="loading">
                          <div class="row">
                            <div class="spinner-border mx-auto" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item btn m-0 rounded-0" *ngIf="!loading && projects.length == 0">
                          <div class="row pl-4">
                            No projects
                          </div>
                        </li>
                        <li *ngFor="let project of projects" class="list-group-item btn m-0 rounded-0 project-item" routerLinkActive #rla="routerLinkActive" [ngClass]="rla.isActive ? 'active_project' : 'inactive_project'" [routerLink]="['./project-info', project._id]" (click)="setProject(project)">{{project.project_name}}</li>
                      </ul>
                    </div>
                    <div class="text-light mt-md-0 mt-3 mb-mb-0 mb-3 m-0 p-0 right-side col-md-8 col-12">
                      <router-outlet></router-outlet>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





