<div class="container-fluid mx-auto m-0 project-component">
  <div class="wrapper-outer">
    <div class="main">
      <div class="row">
        <div class="" id="dashboard-content">
          <div class="row">
            <div class="col-12 mx-auto rounded-lg main-dash px-5">
              <div class="container-fluid m-0 wrapper rounded">
                <div class="row rounded mt-2">
                  <div class="col-12 ml-0 pl-0 mb-4">
                    <h2 class=" display-5 text-black">PROJECTS</h2>
                  </div>
                  <div class="col-lg-4 col-12 p-0 m-0">
                    <div class="list-group-item search-bar m-0 rounded-0 justify-space-between">
                      <div class="row">
                        <div class="col-12 mb-2">
                          <span class="float-right"><i class="fas fa-refresh" (click)="onRefreshProjectsClick()"></i></span>
                        </div>
                        <div class="col-12 k=justify-space-between"> 
                          <div class="row">
                            <div class="col-auto mt-2">
                              <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <div class="col-auto mt-2">
                              <button class="text-light btn btn-outline-primary">Search</button>
                            </div>
                          </div>                       
                        </div>
                      </div>
                    </div>
                    <ul class="list-group project-list main-content style-5">
                      <li class="list-group-item btn m-0 rounded-0" *ngIf="loading">
                        <div class="row">
                          <div class="spinner-border mx-auto" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item btn m-0 rounded-0" *ngIf="!loading && projects != null && projects.length == 0">
                        <div class="row pl-4">
                          No projects
                        </div>
                      </li>
                      <li *ngFor="let project of pageProjects" class="list-group-item btn m-0 rounded-0 project-item" routerLinkActive #rla="routerLinkActive" [ngClass]="rla.isActive ? 'active_project' : 'inactive_project'" [routerLink]="['./project-info', project._id]" (click)="setProject(project)">{{project.project_name}}</li>
                      <li class="list-group-item mb-4 paginate">
                        <nav aria-label="mx-auto Page navigation example">
                          <ul class="pagination">
                            <li class="page-item"><a class="page-link" (click)="onPreviousClick()">Previous</a></li>

                            <li *ngFor="let page of pages; let i = index" class="page-item"><a [ngClass]="page == pageIndex ? 'active_page' : 'inactive_page'" class="page-link" (click)="onPageClick(page)">{{page}}</a></li>

                            <li class="page-item"><a class="page-link" (click)="onNextClick()">Next</a></li>
                          </ul>
                        </nav>
                      </li>
                    </ul>
                  </div>
                  <div class="text-light mt-md-0 mt-3 mb-mb-0 mb-3 m-0 p-0 right-side col-lg-7 ml-lg-3 col-12">
                    <router-outlet></router-outlet>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>