<div class="row">
  <div class="col-12 mt-3">
    <div class="row">
      <div class="col-10">
        <div class="card side-bar text-light">
          <div class="card-body px-0">
            <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
              <div class="left-align-text pl-3 text-size-medium">
                <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">Home</span>
              </div>
            </a>

            <div class="row">
                <div class="col mx-3"><hr></div>
            </div>

            <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
              <div class="left-align-text pl-3 text-size-medium">
                <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">View Projects</span>
              </div>
            </a>
            <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
              <div class="left-align-text pl-3 text-size-medium">
                <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">Create Project</span>
              </div>
            </a>

            <div class="row">
              <div class="col mx-3"><hr></div>
            </div>
            
            <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
              <div class="left-align-text pl-3 text-size-medium">
                <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">Neural Network</span>
              </div>
            </a>

            <div class="row">
              <div class="col mx-3"><hr></div>
            </div>

            <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
              <div class="left-align-text pl-3 text-size-medium">
                <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">Account Settings</span>
              </div>
            </a>
            <a class="btn btn-block btn-outline-primary border-0 py-2 px-0 rounded-0 m-0">
              <div class="left-align-text pl-3 text-size-medium">
                <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">View Profile</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>