<div class="container-fluid mx-auto m-0 project-component">
    <div class="wrapper-outer">
      <div class="main">
        <div class="row">
          <div class="" id="dashboard-content">
            <div class="row">
              <div class="col-12 mx-auto rounded-lg main-dash px-5">
                <div class="container-fluid m-0 wrapper rounded">
                  <div class="row rounded mt-2">
                    <div class="col-12 ml-0 pl-0">
                      <h2 class=" display-5 text-black">STREAMING</h2>
                    </div>
                    <div class="container-fluid mx-auto m-0 ">
                      <div class="wrapper-outer">
                        <div class="main">
                          <div class="row">
                            <div class="" id="dashboard-content">
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>