<div class="container-fluid mx-auto m-0 project-component">
    <div class="wrapper-outer">
      <div class="main">
        <div class="row">
          <div class="" id="dashboard-content">
            <div class="row">
              <div class="col-12 mx-auto rounded-lg main-dash px-5">
                <div class="container-fluid m-0 wrapper rounded">
                  <div class="row rounded mt-2">
                    <div class="col-12 ml-0 pl-0">
                      <h2 class=" display-5 text-black">STREAMING</h2>
                    </div>
                    <div class="container-fluid mx-auto m-0 p-0">
                      <div class="wrapper-outer">
                        <div class="main">
                          <div class="row">
                            <div class="" id="dashboard-content">

                              <h5 class="mb-2">Total tweets: 45</h5>
                              
                              <div class="row m-0 p-0">
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1 display-5">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 mx-auto m-0 p-0">
                                  <div class="row m-0 p-0">
                                    <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                      <div class=" d-flex justify-content-between align-items-center">
                                        tweety twitter tweet of tweetiness :)
                                        <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>




                              <div class="row m-0 p-0">
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1 display-5">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                      <div class="row m-0 p-0">
                                        <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                          <div class=" d-flex justify-content-between align-items-center">
                                            tweety twitter tweet of tweetiness :)
                                            <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-12 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="tweet col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          tweety twitter tweet of tweetiness :)
                                          <span class="badge badge-primary badge-pill ml-3 px-3 py-0"><h6 class="m-0 p-1">0.0002</h6></span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <!-- <div class="row m-0 p-0" *ngFor="let data of filteredData; let i = index">
                                  <div class="col-11 mx-auto m-0 p-0">
                                    <div class="row m-0 p-0">
                                      <div class="col-12 mb-3 p-3 mx-auto border rounded m-0 p-0">
                                        <div class=" d-flex justify-content-between align-items-center">
                                          {{data.tweetObject.text}}
                                          <span class="badge badge-primary badge-pill ml-3">{{data.tweetSentiment | number}}</span>
                                        </div>
                                        <div class="row mt-3 m-0 p-0" *ngIf="data['checked'] && activeFlagging">
                                          <div class="col-8 mx-auto m-0 p-0">
                                            <input type="range" class="custom-range" min="0" max="1" step="0.001" id="customRange1" value="0.5" [(ngModel)]="data['new_sentiment']">{{data['new_sentiment']}}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-1 m-0 my-auto mx-auto" *ngIf="activeFlagging">
                                    <input type="checkbox" [(ngModel)]="data['checked']" (click)="onCheckboxClick(i)">
                                  </div>
                                </div> -->

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>