<div class="row">
  <div class="col-12 mt-3">
    <div class="row">
      <div class="col-10">
        <div class="card side-bar text-light">
          <div class="card-body px-0">
            <div class="link-wrapper">
              <div class="{{home_ab}} p-0 float-left"></div>
              <a class="{{home}} side-bar-hover btn btn-block border-0 p-0 rounded-0 m-0 link" href="/home">
                <div class=" left-align-text pl-3 text-size-medium">
                  <span class="m-2"><i class="fas fa-home icon"></i></span><span class="m-2">Home</span>
                </div> 
              </a>
            </div>
            
            <div class="row">
                <div class="col mx-3"><hr></div>
            </div>

            <div class="link-wrapper">
              <div class="{{view_project_ab}} p-0 float-left"></div>
              <a class="{{view_project}} side-bar-hover btn btn-block border-0 p-0 rounded-0 m-0 link" href="/view-projects">
                <div class="left-align-text pl-3 text-size-medium">
                  <span class="m-2"><i class="fas fa-clipboard icon"></i></span><span class="m-2">View Projects</span>
                </div>
              </a>
            </div>

            <div class="link-wrapper">
              <div class="{{create_project_ab}} p-0 float-left"></div>
              <a class="{{create_project}} side-bar-hover btn btn-block border-0 p-0 rounded-0 m-0 link">
                <div class="left-align-text pl-3 text-size-medium">
                  <span class="m-2"><i class="fas fa-tasks icon"></i></span><span class="m-2">Create Project</span>
                </div>
              </a>
            </div>

            <div class="row">
              <div class="col mx-3"><hr></div>
            </div>
            
            <div class="link-wrapper">
              <div class="{{nn_ab}} p-0 float-left"></div>
              <a class="{{nn}} side-bar-hover btn btn-block border-0 p-0 rounded-0 m-0 link">
                <div class="left-align-text pl-3 text-size-medium">
                  <span class="m-2"><i class="fas fa-network-wired icon"></i></span><span class="m-2">Neural Network</span>
                </div>
              </a>
            </div>

            <div class="row">
              <div class="col mx-3"><hr></div>
            </div>

            <div class="link-wrapper">
              <div class="{{account_settings_ab}} p-0 float-left"></div>
              <a class="{{account_settings}} side-bar-hover btn btn-block border-0 p-0 rounded-0 m-0 link">
                <div class="left-align-text pl-3 text-size-medium">
                  <span class="m-2"><i class="fas fa-cogs icon"></i></span><span class="m-2">Account Settings</span>
                </div>
              </a>
            </div>

            <div class="link-wrapper">
              <div class="{{view_profile_ab}} p-0 float-left"></div>
              <a class="{{view_profile}} side-bar-hover btn btn-block border-0 p-0 rounded-0 m-0 link">
                <div class="left-align-text pl-3 text-size-medium">
                  <span class="m-2"><i class="fas fa-user icon"></i></span><span class="m-2">View Profile</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>